body {
  display: flex;
  margin: 0;
  display: flex;

  font-family: Arial, Helvetica, sans-serif;
}

/* NAV */

#nav {
  flex-grow: 1;
  max-width: 35%;
  min-height: 100vh;
  background-color: #e5e9ec;
  display: flex;
  flex-direction: column;
}

#homeButton {
  border: none;
  background-color: transparent;
  margin: 2rem;
}

#homeButton > img {
  height: 4rem;
}

/* COURSE LIST*/

#courseList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.course {
  font-size: 1rem;
  width: 90%;
  padding: 0.75rem;

  border: none;
  border-radius: 2rem;
  font-weight: bold;
  background-color: #d4d4d4;
  transition: 0.25s;
  background-color: #e6a715;
  color: white;

  transition: 0.25s;
}

.course:hover {
  background-color: #efc86c;
  color: #fff8e7;
}

/* ADD COURSE FORM */

#addCoursePrompt {
  transform: scale(0);
  pointer-events: none;
}

#addCoursePrompt.active {
  transform: scale(1);
  pointer-events: all;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #e6a715;
  margin: 2rem 1rem;
}

#addCoursePrompt:hover {
  color: #efc86c;
  transition: 0.25s;
}

#addCoursePrompt:hover,
#homeButton {
  cursor: pointer;
}

#addCourseForm {
  display: none;
  pointer-events: none;
}

#addCourseForm.active {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

#addCourseFormWrapper {
  list-style-type: none;
  padding: 0;
  margin: 1rem, 0rem;
  width: 90%;
}

#addCourseFormWrapper > .formRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem;
}

#addCourseFormWrapper > .formRow > input {
  all: unset;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.25rem;
  padding-left: 0.35rem;
  display: flex;
  align-items: center;
  min-width: 5rem;
  flex: 4;
  height: 1.5rem;
}

#addCourseFormWrapper > .formRow > label {
  min-width: 3.5rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  flex: 1;
  color: #e6a715;
}

#addCourseSubmitFormRow {
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
}

#addCourseButton {
  font-size: 1.2rem;

  padding: 0.25rem 1rem;

  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #d4d4d4;
  transition: 0.25s;
}

#cancelAddCourseButton {
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #d4d4d4;
  transition: 0.25s;
}

#addCourseButton:hover,
#cancelAddCourseButton:hover {
  background-color: #f2f2f2;
}

#addCourseButton:hover {
  color: #e6a715;
}

/* CONTENT */

#content {
  max-width: 60%;

  flex-grow: 3;
  min-height: 50vh;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#courseTitleDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#courseTitle {
  font-size: 1.75rem;
  font-weight: bold;
  color: black;
}

#deleteCourseButton {
  margin: 1rem;
  padding: 0.25rem 1rem;
  font-size: 1.2rem;

  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #ff8787;
  color: white;

  transition: 0.25s;
}

#deleteCourseButton:hover {
  background-color: transparent;
  color: #ff8787;
}

#addTaskPrompt {
  transform: scale(0);
  pointer-events: none;
}

#addTaskPrompt.active {
  transform: scale(1);
  pointer-events: all;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #9a7aa0;
  margin: 1.5rem 0rem;
  padding: 0;

  transition: 0.25s;
}

#addTaskPrompt:hover {
  color: #d4c1d7;
}

/* ADD TASK MODAL */

#addTaskModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  background-color: #e5e9ec;
  border-radius: 1rem;

  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 35rem;

  transition: 0.25s ease-in-out;
  pointer-events: none;
}

#addTaskModal.active {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}

#addTaskForm {
  display: none;
  pointer-events: none;
}

#addTaskForm.active {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

#addTaskFormWrapper {
  list-style-type: none;
  padding: 0;
  margin: 1rem, 0rem;
  width: 100%;
}

#addTaskFormWrapper > .formRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem;
}

#addTaskFormWrapper > .formRow > input,
#addTaskFormWrapper > .formRow > select {
  all: unset;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.25rem;
  padding-left: 0.35rem;
  display: flex;
  align-items: center;
  min-width: 5rem;
  flex: 4;
  height: 1.5rem;
}

#addTaskFormWrapper > .formRow > label {
  min-width: 3.5rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  flex: 1;
  color: #9a7aa0;
}

#addTaskSubmitFormRow {
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
}

#addTaskButton {
  font-size: 1.2rem;
  padding: 0.25rem 1rem;

  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #d4d4d4;
  transition: 0.25s;
}

#cancelAddTaskButton {
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #d4d4d4;
  transition: 0.25s;
}

#addTaskButton:hover,
#cancelAddTaskButton:hover {
  background-color: #f2f2f2;
}

#addTaskButton:hover {
  color: #9a7aa0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ff8787;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ff8787;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ff8787;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;

  transition: 0.25s ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* TASKS */

#taskList {
  width: 100%;
}

.task {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
  gap: 0.75rem;
}

.taskCheckbox {
  width: 1.5rem;
  height: 1.5rem;

  background-color: white;
  border: 0.35rem solid #23967f;
  border-radius: 50%;
}

.taskCheckbox.lowPriority {
  border: 0.35rem solid #23967f;
}
.taskCheckbox.lowPriority:hover {
  color: #23967f;
}
.taskCheckbox.mediumPriority {
  border: 0.35rem solid #e6a715;
}
.taskCheckbox.highPriority {
  border: 0.35rem solid #ff8787;
}

.taskName {
  width: 40%;
}

.taskDueDate {
  width: 30%;
}

.taskWeight {
  width: 5%;
}

.taskMark {
  width: 5%;
}
